body {
  background-color: #eeeeee;
  border: 10px solid white;
}

.column {
  background-color: #ffffff;
  color: #323232;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
}

.navbar {
  background-color: #ffffff;
  color: #3b86ce;
  margin: 25px 145px 0 145px;

}

.newsletter {
  margin: 30px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #3b86ce;
}

/*changing font-size and weight on an h2 instead of making it an h1 since 
you should only have a single h1 on the page and there are 3 of these columns*/
h2 {
  font-size: 2.4em;
  font-weight: bold;
}